%h3
  Thank you for creating a Certifed Peng dashboard account.
%p
  Your account details are:
%p
  %b
    = @name
%p
  Login to start tracking your tags now:
  %a{href: 'www.certifiedpeng.com'} www.certifiedpeng.com
%br
%p
  The Certified Peng team.
%br
%p
  %b Disclaimer
%p
  This email is intended only for the recipient who has registered for a user account at the Certified Peng website. The contents of this email are not intended for any one else and if you have received this email in error, please delete this message.
