
.purchases-title
  %h2
    Your Purchases:
-if current_user && !@purchases.empty?
  .row
    .col-md-2
    .col-md-8
      .result
        %table.table
          %thead
            %tr
              %th
              %th Item
              %th Date of purchase
          %tbody
            - @purchases.each do |purchase|
              %tr
                %th{:scope => "row"}
                  %td
                    = 'T-Shirt : ' + purchase.item
                  %td
                    = purchase.created_at.strftime("%d %b %Y")
    .col-md-2
- elsif current_user && @purchases.empty?
  %p.text-center
    You have not made a purchase yet
