<meta http-equiv=“Pragma” content=“no-cache”>
<meta name=“Description” CONTENT=“Certified Peng – the content popularity engagement button. Click to rate content as being PENG.“>
<meta name=“Keywords” CONTENT=“peng, certified peng, millennials, millennials marketing, snapchat marketing, snapchat, chicken connoisseur, crep check Instagram, pengest munch.“>
<meta name=“Key-phrases” content=“certified peng, peng, lit, top peng, pengest, pengness, millennials, millennials marketing, snapchat marketing.“>
<meta name=“content” content=“peng, pengness, certified peng, crep check uk, peng creps, best sneakers, pengest munch”>
<meta name=“peng” content=“peng, certified peng, peng london, top peng, rated peng, crep check uk, peng creps, creps, crep, crep lovers, sneakers, crep check, pengest creps, pengest, crep check shoes, crep check chicken connoisseur, crep check jd sports, crep check Instagram, pengest munch.“>
<meta name=“peng instagram” content=“instagram, top pen on instagram,crep check uk, peng creps, creps, crep, fashion, sneaker fashion, pengest creps, pengest, crep check shoes, crep check chicken connoisseur, crep check jd sports, crep check Instagram, pengest munch.“>
<meta name=“msnbot” content=“index,follow”>
<meta name=“googlebot” content=“index,follow”>
<meta name=“robots” CONTENT=“all”>
<meta name=“author” CONTENT=“www.certifiedpeng.com“>
<meta http-equiv=“expires” CONTENT=“never”>
<meta name=“distribution” CONTENT=“global”>
<meta property=“og:title” content=“Certified Peng”>
<meta property=“og:url” content=“https://www.certifiedpeng.com”>
<meta property=“og:description” content=“Certified Peng – the new millennials content engagement popularity metric. Rate content and products as peng and create trends.“>
<meta property=“og:site_name” content=“certifiedpeng.com”>
<meta property=“og:image” content=“http://www.pengcreps.co.uk/images/certifiedpeng-share-sticker.jpg”>
<meta property=“og:type” content=“article”>