= render partial: 'shared/navbar'
= render partial: 'shared/main_logo'

.row
  .col-md-4
  .col-md-4
    .error-page-box
      %p
        Sorry: something has gone wrong. Please try again very soon
  .col-md-4

.footer
  %hr
  %span
    Gorilla Theory Labs 2017
  %span{style: 'float: right;'}
    =link_to 'Contact Us', contact_us_path
    =link_to 'Advertise', contact_us_path
    =link_to 'About Us', about_us_path
    =link_to 'Terms', terms_path