
.row
  .col-md-4
  .col-md-4
    .error-page-box
      %p
        The page you requested
        %strong
          cannot be found.
        Please visit the homepage
        = link_to 'www.certifiedpeng.com', root_path
        and try again.
  .col-md-4