= render partial: 'shared/navbar'
= render partial: 'shared/main_logo'

.terms-box
  .row
    .col-md-2
    .col-md-8
      %h3.text-left{style: 'margin-left: 3%'}
        About Us
      %br
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
    .col-md-2

= render :partial => 'shared/footer'