
.terms-box
  .row
    .col-md-2
    .col-md-8
      %h3.text-center
        About Us
      %br
      %p
        The Certified Peng platform technology and team is brought to you by Gorilla Theory Labs - the founder of the
        = link_to 'Gorilla Theory', 'http://www.gorillatheory.com', title: 'Gorilla Theory Project Management', target: '_blank'
        product delivery framework.
      %p
        The team have been delivering technology platforms and digital marketing
        campaigns for clients such as NHS Choices, Disney, Adidas and Nike, Volvo,
        Barclaycard, NBC Universal, AOL, and Pepsi. We have put all this fancy on
        the job experience and book learning into the Certified Peng platform - a
        proudly British adjective and ratings metric. The initial focus is the
        millennial demographic, but pengness is not ageist - we love everybody.
      %p
        Join the Peng bandwagon and start rating your products and content with Certified Peng
      %p
        Check the
        = link_to 'Peng Creps blog', 'http://www.pengcreps.co.uk', target: '_blank', title: 'Peng Creps'
        for trainers and sports footwear new.
      %p
        We Snap the funny, zany, the crazy moments. We live our best life on Insta. When you see someone or something
        peng, then capture that pengness with the
        = link_to 'Peng Cam app.', 'http://www.pengcam.co.uk', target: '_blank', title: 'Peng Cam app'
        Search for 'peng cam' in your appstore.
      %br
      %br
      .text-center
        = image_tag 'phil-man-tshirt.jpg'
    .col-md-2
