= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.terms-box
  .row
    .col-md-2
    .col-md-8
      %h2.text-center
        Certified Peng Terms & Privacy
      %br
      %p By using or accessing Certified Peng Services, you agree that we can store such user account holder details and information in accordance with this Privacy Policy (as amended from time to time).
      %h4.text-center Certified Peng is an engagement metric for content owners.
      %p This Statement of Terms of Service and Privacy follows from the Certified Peng mission. The terms controls and gives clarity of the relationship with Certified Peng account holders and others who interact with Certified Peng, and any subsequent Certified Peng services. By using or accessing the Certified Peng service, you agree to this Statement, as updated from time to time (we will notify you before we make changes to these terms and give you the opportunity to review and comment on the revised terms before continuing to use our Services).
      %h4.text-center What kinds of information do we collect?
      %p We need to store your registration details as the foundation of your user account (Basic, Premium, or Enterprise).
      %p The user data is not shared with 3rd-parties for marketing purposes.
      %h4.text-center Privacy Policy
      %p Your privacy is of the utmost importance to us. At Certified Peng we have a few fundamental principles:
      %ol
        %li
          We don't ask you for personal information unless we truly need it. (We canТt stand services that ask you for things like your gender or income level for no apparent reason)
        %li
          We don't share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
        %li
          We donТt store personal information on our servers unless required for the on-going operation of our services.
      %p Below is our privacy policy which incorporates these goals:
      %p Gorilla Theory Labs operates certifiedpeng.com. It is Gorilla Theory Labs's policy to respect your privacy regarding any information we may collect while operating our websites.
      %h4.text-center Website Visitors
      %p Like most website operators, Certified Peng collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Certified PengТs purpose in collecting non-personally identifying information is to better understand how Certified PengТs visitors use its website. From time to time, Certified Peng may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
      Certified Peng also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Certified Peng does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.
      %p Gathering of Personally-Identifying Information
      %p Certain visitors to Certified PengТs websites choose to interact with Certified Peng in ways that require Certified Peng to gather personally-identifying information. The amount and type of information that Certified Peng gathers depends on the nature of the interaction. For example, we ask visitors who sign up account at certifiedpeng.com to provide information that may include:
      a name, username and email address and country of residence including if you register as a user of the Service, subscribe to our newsletters, upload or submit any content through our websites, request or offer any information.
      %ul
        %li
          your login and password details, in connection with the account sign-in process
        %li
          details of any offers, requests or transactions you make through the
      %h4.text-center Service
      %p Information about your activity on and interaction with the Site and Services, such as your IP address and the device or browser you use communications you send to us (i.e. requests for support, questions or feedback or reporting a problem) communications, material, contribution to conversations over content or with other users Certified Peng collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitorsТ interaction with Certified Peng. Certified Peng does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
      %h4.text-center Aggregated Statistics
      %p Certified Peng may collect statistics about the behavior of visitors to its websites. Certified Peng may display this information publicly or provide it to others. However, Certified Peng does not disclose personally-identifying information other than as described below.
      %h4.text-center Protection of Certain Personally-Identifying Information
      %p Certified Peng discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that
      %ol{type: "I"}
        %li
          need to know that information in order to process it on Certified PengТs behalf or to provide services available at TEMPO TRACKERТs websites, and
        %li
          that have agreed not to disclose it to others.
          %p Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Certified PengТs websites, you consent to the transfer of such information to them. Certified Peng will not rent or sell potentially personally-identifying and personally-identifying information to anyone.
      %p Other than to its employees, contractors and affiliated organizations, as described above, Certified Peng discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when Certified Peng believes in good faith that disclosure is reasonably necessary to protect the property or rights of Certified Peng, third parties or the public at large.
      %p If you are a registered user of a Certified Peng website and have supplied your email address, Certified Peng may occasionally send you an email in relation to your personal transactions, to inform you about new features, solicit your feedback, or just keep you up to date with whatТs going on with Certified Peng and our products. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Certified Peng takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information. You are free at any time to modify or delete the personal information you have provided to us, by logging in and updating your account.
      %p People under 18 (or the legal age in your jurisdiction) are not permitted to use Certified Peng on their own, and so this privacy policy makes no provision for their use of the site.
      %h4.text-center Cookies
      %p A cookie is a string of information that a website stores on a visitorТs computer, and that the visitorТs browser provides to the website each time the visitor returns. Certified Peng uses cookies to help Certified Peng identify and track visitors, their usage of the Certified Peng websites, and their website access preferences. Certified Peng visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Certified PengТs websites, with the drawback that certain features of Certified PengТs websites may not function properly without the aid of cookies.
      %h4.text-center Privacy Policy Changes
      %p Although most changes are likely to be minor, Certified Peng may change its Privacy Policy from time to time, and in Certified PengТs sole discretion. Certified Peng encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
      %h4.text-center Payment Terms
      %p Payment for an analytics dashboard and/or Certified Peng merchandise is non-refundable. If you are under the age of eighteen (18), you may pay only with the involvement of your parent or guardian. Make sure you review these Terms with your parent or guardian so that you both understand all of your rights and responsibilities.
      %p Your payment information is not stored by Certified Peng. Stripe is the secure payment gateway provider. The transactions are merely noted for record keeping so we can provide the necessary account types and allowances you have obtained. You can read more about Stripe's privacy terms at their website: https://stripe.com/gb/privacy



    .col-md-2

= render :partial => 'shared/footer'