/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}

.navbar a {
  text-decoration: none;
}

.home-page {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 5%;

}
.home-page h1 {
  margin-bottom: 50px;
}

.main-text{
  text-align: center;
  margin-top: 5%;
}

.script-box{
  margin-bottom: 3%;
  margin-top: 20px;
  background: #f9f9f9;
  padding: 30px;
  color: #646464;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

.alert-danger {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
}

.alert-info {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
}

.alert-warning {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
}

.links {
  margin-top: 30px;
}

.links a{
  text-decoration: none;
  margin-left: 15px;
}

.search-box {
  margin-top: 2%;
  margin-left: 36%;
  margin-right: 36%;
}

.dashboard-box {
  margin-top: 6%;
  margin-bottom: 5%;
}

.not-found-text {
  font-size: 11pt;
  background: #cecece;
  margin-left: 35%;
  margin-right: 35%;
  padding: 5px;
  border-radius: 15px;
}

.main-logo {
  height: 150px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  font-size: 18px;
  padding-bottom: 30px;
  width: 80%;
}

.footer a {
  padding-left:5px;
}

.text-box{
  margin-top: 20px;
  padding: 30px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 20%;
  font-size: 16px;
}

.image-box {
  width: 300px;
  height: 300px;
}

.image-video-box {
  width: 500px;
  height: 450px;
}

.title-box {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

.share-links {
  margin-left: 25%;
  margin-right: 25%;
}

.contact-us form{
  margin-left: 35%;
  margin-right: 35%;
}

.recaptcha {
  margin-top: 3%;
  margin-bottom: 2%;
}

.form-box {
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.search-button {
  margin-left: 36%;
  margin-right: 36%;
  width: 27%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.tags-box {
  margin-top: 20px;
  padding: 30px;
  margin-left: 18%;
  margin-right: 18%
}

.pay-box {
  margin-top: 10%;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  padding: 10%;
}

.error-page-box{
  margin-top: 5%;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  padding: 10%;
  font-size: 20px;
}

.terms-box {
  margin-top: 5%;
  margin-bottom: 10%;
}

.text-link {
  padding-left: 30px;
  float: left;
  font-size: 18px;
}

.result {
  margin-bottom: 5%;
}

.stripe-button-el span{
  text-indent: -9999px;
  line-height: 0;

  &:before{
    content: "Pay with Stripe Pay ";
    text-indent: 0;
    display: block;
  }

}




